

html{
      font-size: 1rem;
}

/*---------------------------------------body---------------------------------------*/
body {
      margin: 10px 10px;
      margin-bottom: 10%;
      background-color: rgba(100, 100, 100, 0.1);
}



/*---------------------------------------header---------------------------------------*/

header{
      text-align: center;
      color:#000;
      background-color: rgba(238, 210, 117, 1.0);
}

.title{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size:1.5rem;
      background-color: rgba(0, 0, 0, 0);
}

#index-area{
      text-align: center;
      background-color: whitesmoke;
}

#index-content{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items:flex-start;
}

#index-content ul{
      text-align:left;
      display: inline-block;
      list-style-position:outside;
      font-size: 1.3rem;
}



.title img{
      width:80px;
      height:auto;
}


/*---------------------------------------main---------------------------------------*/


main{
      /*背景色をグラデーションに表現*/
      background-image:linear-gradient(90deg, white, rgba(133, 240, 240, 0.938));
}

main > div:nth-child(2n){
      /*背景色をグラデーションに表現*/
      background-image:linear-gradient(0deg, white, rgba(247, 248, 236, 0.986));
}


/*--------------------リスト要素の確認--------------------*/

#list-learn-list{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
}


#list-learn .list-1, #list-learn .list-2{
      font-size:1.2rem;
      text-align:center;
}

/*普通のリストのスタイル*/
.list-1 ul{
      display: inline-block;
      list-style-position:outside;
      text-align:left;
      list-style-type: square;
}

/*先頭に任意の文字を入れたリストのスタイル*/
.list-2 ul{
      counter-reset: section;
      display: inline-block;
      list-style-position:outside;
      text-align:left;
      list-style-type:none;  /*noneを指定しないとリストの先頭に黒ぽちが表示される*/
}

.list-2 li::before{
      counter-increment: section;
      content:counter(section)"章";
}

/*リンクに対する設定*/
a:link{ color: blue; }
a:visited{ color: purple; }
a:hover{ color: red; }
a:active{ color: yellow; }


/*--------------------img要素の確認--------------------*/

.img-learn_img{
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
}

.img-learn_img img{
      width:150px;
      height:auto; /*autoに設定すると縦横比が保たれる*/
      margin: 0 auto;
}


/*--------------------picture要素の確認--------------------*/

#picture-learn_img{
      text-align: center;
}

#picture-learn_img source, .picture-learn_img img{
      width:150px;
      height:auto; /*autoに設定すると縦横比が保たれる*/
      margin: 0 auto;
}



.cssSprite-learn .sprite{
      background-image: url(images/pose_syanikamaeru_man.png);
      width: 300px;
      height: 150px;
}

.cssSprite-learn .sprite:hover{
      background-position: left bottom;
}

/*--------------------属性セレクタの確認--------------------*/

.selecta-learn > p[class ~= "testC"]{ color:red; }
.selecta-learn > p[class |= "sample"]{ color:blue; }
.selecta-learn > p[class ^= "hoge"]{ color:tomato; }
.selecta-learn > p[class $= "ro"]{ font-weight:bold; }
.selecta-learn > p[class *= "tm"]{ text-decoration-line: line-through; }


/*--------------------疑似クラスの確認--------------------*/

.list-learn{
      margin: 0;
}

.list-learn_list *{
     margin:0;
     padding:0;
     font-size: 1.2rem;
}

.list-learn_list p:nth-child(2){ color: blue;}
.list-learn_list p:nth-last-child(5){ color: blue;}
.list-learn_list li:nth-of-type(1){ color: red;}
.list-learn_list p:only-child{ color: white;}



/*--------------------疑似要素の確認--------------------*/

.gijiElement-learn p::first-line{ color: red;}
.gijiElement-learn p::first-letter{ color: blue;}



/*--------------------結合子の確認--------------------*/

.ketugoshi-learn_text *{
      margin:0;
      padding:0;
      font-size: 1.2rem;
 }

 .ketugoshi-learn div h1 + p{ color:red;}
 .ketugoshi-learn div h2 + p{ color:blue;}



/*--------------------transformの確認--------------------*/

.transform-learn_div{
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
}

.transform-learn_div1, .transform-learn_div2, .transform-learn_div3{
      width: 200px;
	height: 150px;
      margin: 30px auto;
      color:white;
}

.transform-learn_div1{ background: #0091EA;}


.transform-learn_div2{ background: #8891EA;}
.transform-learn_div3{ background: #AA91EA;}

.transform-learn_div1:hover{ transform: translate(100px, 20px);}
.transform-learn_div2:hover{ transform: rotate(30deg);}
.transform-learn_div3:hover{ transform: skew(30deg, 30deg);}



/*--------------------tableの確認--------------------*/

.table-learn_div{
      display: flex;
     flex-direction: column; /*コンテンツの表示方向*/
     align-items: center;
     justify-content: center;
}


.table-learn_table{
      margin-bottom: 50px;
}


.table-learn_table, .table-learn_table2{
      border-collapse: collapse;
      border-spacing: 0;
      table-layout: fixed;
      width: 490px;
}

.table-learn_table tr:last-child{
      border-bottom:solid 1px #ddd;
}

.table-learn_table th{
      text-align: center;
      padding: 7px 0;
      border-right:solid 1px #ddd;
      border-left:solid 1px #ddd;
      width: 155px;
}


/*--------------------********--------------------*/

.transition-learn_box{
      width: 200px;
	height: 150px;
      background-color:#f5b932;
      margin: 30px auto;
      transition: all 1.5s 0s ease;
}

.transition-learn_box:hover{ transform: translate(500px, 0);}



/*--------------------マルチカラムレイアウトの確認--------------------*/

.muticolumn-learn *{
      margin:0;
      padding:0;
}


.muticolumn-learn_text{
      column-count: 2;
      column-width: auto;
      column-gap: 1.5rem;
      column-rule-style:solid;
}

.muticolumn-learn_text > h2{
      column-span: all; /*タイトルをマルチカラムの上に配置*/
}





/*--------------------form要素--------------------*/
.form-learn #message{
      width:60%;
      height:100px;
      resize: none;
}




/*--------------------イメージマップ--------------------*/
.imageMap-learn_image{
     text-align: center;
}



/*---------------------------------------footer---------------------------------------*/
footer{
      text-align: center;
      color:#000;
      background-color: rgba(238, 210, 117, 1);
}




